@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
  box-sizing: border-box;
  background-color: #FF6E69;
  margin: 0 auto;
  padding: 0 40px;
  font-family: 'Poppins', sans-serif;
  min-height: 100vh;
}

h1,h2,h3,span,p{
  color : white !important;
}


.fill-height-grow{
  display: flex;
  flex-direction: column;
}

.title{
  font-weight: 500;
  font-size: 3em;
  margin-bottom: 1rem;
  margin-top: 0;
}

.sub-title{
  font-weight: 500;
  font-size: 1.2em;
  margin-bottom: 2rem;
  margin-top: 0;
}
