.logo-home{
    height: 60px;
    width: auto;
    padding: 2px;
}

.missedIngredient{
    color:red;
}

.usedIngredient{
    color: rgb(6, 167, 6);
}

.loginImg{
    background-image:url('../src/assets/img/bn2.jpg');
}